body, html {
    margin: 0;
    padding: 0;
    font-size: 100%;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}

/* ===== GLOBAL STYLES ===== */

.navbar-default {
	background: #9EA106;
    border: none;
}

.navbar-default .navbar-brand {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: #fff;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    text-transform: lowercase;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-brand:hover {
    color: #fff;
    border-bottom: 2px solid #fff;
    padding-bottom: 13px;
}

.navbar-default .navbar-toggle {
    border: 2px solid #fff;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:active, .navbar-default .navbar-toggle:visited, .navbar-default .navbar-toggle:focus {
    background: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background: #fff;
}

section {
    margin: 100px 0;
    padding: 50px 0;
}

section h2 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 60px;
    font-weight: 100;
    text-shadow: -.5px .5px 2px darkgray;
    margin-bottom: 80px;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

h6 {
    margin-top: 2px;
    text-align: center;
}

.section-img-head {
    margin: 20px auto;
    max-height: 250px;
    box-shadow: 0 0 30px darkgray;
}

.section-img-head:hover {
    box-shadow: 0 0 30px #9EA106;
}

.modal-body, .modal-header, .modal-footer {
	background: #333;
    color: white;
}

.modal-header {
    border-radius: 10px 10px 0 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-align: center;
    border: none;
}

.modal-body {
	border-radius: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.modal-footer {
    border: none;
	border-radius: 0 0 10px 10px;
}

.nav-tabs>li>a {
	color: white;
    background: transparent;
    border-radius: 5px;
}

.nav-tabs.nav-justified>li>a {
    border: none;
    border-radius: 4px;
    margin-left: 10px;
    margin-right: 10px;
}

.tab-pane {
    padding: 20px 0;
}

.list-group {
	box-shadow: none;
}

.list-group-item {
    background: none;
    border: none;
}

.badge {
    background: none;
    font-size: 1em;
}

button {
    outline: none;
}

button.close:hover {
    color: white;
}

.btn-default, .btn-default:hover, .btn-default:focus, .btn-default:active {
    background: #9EA106;
    border: none;
    color: white;
	padding: 20px 0 45px 0;
    vertical-align: middle;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    font-weight: 600;
    outline: none;
}

.parallax {
	background-image: url(../../images/hair-placeholder.jpeg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 50vh;
}

.package-features li {
    list-style: none;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-size: .9em;
}

sup {
    font-size: .6em;
}










/* ===== CUSTOM STYLES ====== */

.jumbotron {
	height: 90vh;
    min-height: 450px;
    padding-top: 100px;
    background-image: url('http://www.zenmetrospa.com/zensplash.gif');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.main-header {
	margin: 0 auto;
    text-align: center;
}

#main-logo {
	margin: 0 auto;
}

h1 {
    display: none;
}

#packages h3 {
	text-align: center;
    border-bottom: 1px solid lightgrey;
    margin: 0px 80px 20px;
}

#packages p {
	text-align: center;
}

.second {
    margin-top: 85px;
}

.hours {
	margin-bottom: 30px;
}

#contact {
	background: #B6B844; /* rgba(182,184,68,1) */
    margin: 0;
    padding: 150px 0;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: #fff;
}

#contact a {
	text-decoration: none;
    color: white;
}

#contact a:hover {
	font-weight: 600;
}








/* ICON STYLES */

i {
    margin: 0 10px;
    font-size: 3em;
}

.fi-social-facebook:hover {
	color: #3b5998;
}

.fi-social-twitter:hover {
	color: #1da1f2;
}








@media only screen and (max-width: 992px){
    .package-features li {
        text-align: center;
    }
    
    #packages ul {
        padding: 0;
    }
    
    .second {
        margin-top: -30px;
        margin-bottom: 50px;
    }
    
    #packages .col-md-4 {
	    margin: 30px 0;
    }
    
    #plax2 {
        display: none;
    }
    
}






